:root {
  --primary: #8b0000;
  --text: #000;
  --muted: #8b0000ac;
  --bg: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

body {
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
  width: 96vw;
  height: max-content;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Playfair Display", serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 68px;
  padding: 8px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  border-bottom: 1px solid var(--primary);
  z-index: 1;
  position: sticky;
  top: 0;
  background: var(--bg);      
}

header .logo {
  width: 12%;
  height: 68px;
}

nav {
  width: fit-content;
  height: max-content;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

header a {
  color: var(--primary);
  margin-left: 20px;
}

.btn {
  background: var(--primary);
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  font-family: "inter", sans-serif;
}

.btn:hover {
  background: #660000;
  cursor: pointer;}

main {
  width: 100%;
  height: max-content;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  background-color: var(--bg);
/*   padding: 60px 20px;
 */}

.hero {
  width: 100%;
  height: 88vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  color: var(--bg);
  background-image: url(images/IMG_4133.JPEG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.hero h1 {
  font-size: 72px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.hero h1 span {
  font-style: italic;
}

.hero p {
  width: 72%;
  margin: 0 auto;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  font-size: 16px;
  color: var(--bg);
  margin-bottom: 30px;
}

.hero .btn, .final-cta .btn  {
  width: max-content;
  height: max-content;
  margin: 0 auto;
  background: var(--bg);
  color: var(--primary);
}

.hero span img, .final-cta span img {
  width: 28px;
  height: 20px; 
  margin-left: 8px;
  vertical-align: middle;
  animation: arrow both 0.8s ease-in-out infinite;
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.hero .btn:hover, .final-cta .btn:hover {
  opacity: 0.8;
}

.testimonials {
  width: 100%;
  height: max-content;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 50px;
  color: var(--primary);
  font-weight: 100;
}

.testimonial_container {
  width: 80%;
  height: max-content;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.testimonial {
  width: 32%;
  padding: 20px;
  border: 1px solid #8b0000;
  background-color: #fff7f7;
  color: #8b0000;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.testimonial span {
  font-weight: 600;
  margin-top: 60px;
}

.testimonial span  span {
  font-weight: 100;
  font-style: italic;
}

.image {
  width: 60%;
  height: max-content;
  margin: 0 auto;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
}

.products {
  width: 92%;
  height: max-content;
  margin: 60px auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.products h2 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.product_container {
  width: 92%;
  height: max-content;
  margin: 0px auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.product {
  width: 24%;
  height: 360px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;

  background-color: #fff7f7;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.product p {
  font-size: 14px;
  margin-bottom: 8px;
}

.product h3 {
  font-size: 24px;
  font-weight: 100;
}

.price {
  font-weight: bold;
  margin: 8px 0;
}

.product .btn {
  margin: 0 auto;
  padding: 8px 16px;
}

.philosophy {
  width: 80%;
  height: max-content;
  margin: 60px auto;
  padding: 60px 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: var(--primary);
  background-color: #fff7f7;
}

.philosophy h2 {
  width: 32%;
  margin: 0 auto;
}

.about {
  width: 48%;
  margin: 0px auto;
  text-align: left;
}

.final-cta {
  width: 96%;
  height: max-content;
  margin: 0 auto;
  padding: 60px 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #8b0000;
}

.final-cta h2 {
  color: #fff;
  margin-bottom: 20px;
  font-style: italic;
}

footer {
  text-align: center;
  padding: 40px;
  border-top: 1px solid #8b0000;
  color: var(--muted);
  margin-top: 60px;
}

footer .hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  
  header {
    padding: 8px 20px;
  }

  .hero h1 {
    font-size: 68px;
  }

  h2 {
    font-size: 40px;
  }

  .testimonial_container {
    width: 92%;
  }

  .testimonial {
    width: 32%;
    margin-bottom: 12px;
  }

  .image {
    width: 100%;
  }

  .product_container {
    width: 100%;
  }

  .products h2 {
    width: 92%;
  }

  .products {
    margin: 40px auto;
  }
  
  .product {
    width: 32%;
    margin: 12px auto;
  }

 .products h2 {
    margin-bottom: 2px;
}

  .philosophy {
    flex-flow: column;
    width: 92%;
    margin-top: 20px;
  }

  .philosophy h2, .about {
    width: 96%;
  }

  .about {
    margin-top: 40px;
  }

  .final-cta {
  text-align: center;
  }

  .final-cta h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 428px) {
  header {
    padding:  8px;
  }

  header .logo {
    width: 16%;
  }

  header a {
    font-size: 14px;
  }

  .btn, .product .btn {
    padding: 4px 12px;
  }

  .hero {
    height: 68vh;
  }
  
  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    width: 72%;
    font-size: 14px;
  }

  h2 {
    font-size: 28px;
  }

  .testimonial_container,   .product_container  {
    width: 92%;
    flex-flow: column;
  }

  .testimonial, .product {
    width: 100%;
    margin-bottom: 12px;
  }

  .image {
    width: 100%;
  }

  .products h2 {
    width: 80%;
  }

  .products {
    margin: 40px auto;
  }

  .products h2 {
    margin-bottom: 2px;
  }

  .philosophy {
    flex-flow: column;
    width: 92%;
    margin-top: 20px;
  }

  .philosophy h2, .about {
    width: 96%;
  }

  .about {
    margin-top: 40px;
  }

  .final-cta {
  text-align: center;
  }

  .final-cta h2 {
    font-size: 32px;
  }

}

@media screen and (max-width: 328px) {
  .hero h1 {
    font-size: 28px;
  }
  
  .hero p {
    font-size: 14px;
  }
}



















